{% extends 'layout.html' %}

<!-- css -->
{% block css %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/index/index.css')}}"
/>{% endblock css %}

<!-- Body -->
{% block content %}
<div class="content-section">
  <div
    class="infogram-embed"
    data-id="8c0e1526-748f-4817-9d90-ca32d52fa06d"
    data-type="interactive"
    data-title="flaskblog"
  ></div>
  <script>
    !(function(e, t, s, i) {
      var n = "InfogramEmbeds",
        o = e.getElementsByTagName("script")[0],
        d = /^http:/.test(e.location) ? "http:" : "https:";
      if ((/^\/{2}/.test(i) && (i = d + i), window[n] && window[n].initialized))
        window[n].process && window[n].process();
      else if (!e.getElementById(s)) {
        var r = e.createElement("script");
        (r.async = 1), (r.id = s), (r.src = i), o.parentNode.insertBefore(r, o);
      }
    })(
      document,
      0,
      "infogram-async",
      "https://e.infogram.com/js/dist/embed-loader-min.js"
    );
  </script>
  <div
    style="padding:8px 0;font-family:Arial!important;font-size:13px!important;line-height:15px!important;text-align:center;border-top:1px solid #dadada;margin:0 30px"
  >
    <a
      href="https://infogram.com/8c0e1526-748f-4817-9d90-ca32d52fa06d"
      style="color:#989898!important;text-decoration:none!important;"
      target="_blank"
      >flaskblog</a
    ><br /><a
      href="https://infogram.com"
      style="color:#989898!important;text-decoration:none!important;"
      target="_blank"
      rel="nofollow"
      >Infogram</a
    >
  </div>
</div>
<!-- body -->
{% endblock content %}

<!-- Js -->
{% block js %} {% endblock js %}
