{% extends 'layout.html' %} 

<!-- css -->
{% block css %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/index/index.css')}}"
/>{% endblock css %}

<!-- Body -->
{% block content %}
<section>
  {% for post in posts %}
  <article>
    <div class="article_name">
      <div>
          <img src="{{url_for('static', filename='img/profile/' + post.author.image_file)}}" alt="{{post.author.username}}">
          <a href="#" title="{{ post.author.username }}">{{ post.author.username }}</a>
      </div>
      <small>{{ post.date_post.strftime('%B %d, %Y %I:%M %p') }}</small>
    </div>
    <div class="article_content">
      <h1>
        <a href="{{url_for('post', post_id=post.id)}}" title="{{ post.title }}">{{ post.title }}</a>
      </h1>
      <p>{{ post.content }}</p>
    </div>
  </article>
  {% endfor %}
</section>
<!-- body -->
{% endblock content %}
