<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- css -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/form.css')}}"
    />
    
    {% block css %} {% endblock css %}

    <!-- title -->
    {% if title %}
    <title>Flask Blog - {{ title }}</title>
    {% else %}
    <title>Flask Blog</title>
    {% endif %}
  </head>

  <body>
    <header>
      <nav>
        <!-- left Col -->
        <div class="col_left">
          {% if current_user.is_authenticated %}
            <h3>Flask Blog | {{current_user.username}}</h3>
          {% else %}
            <h3>Flask Blog</h3>
          {% endif %}
          <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
          </ul>
        </div>

        <!-- Right Col -->
        <div class="col_right">
          <ul>
          {% if current_user.is_authenticated %}
            <li><a href="{{url_for('new_post')}}">New Post</a></li>
            <li><a href="{{url_for('account')}}">Account</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
          {% else %}
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('register')}}">Register</a></li>
          {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <!-- Body -->
    <main>
      <div class="main_wrapper">
   
        <!-- Left -->
        <div class="col_left">
           <!-- flash messages -->
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert {{category}}">
                  <p>{{message}}</p>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %} {% endblock content %}
        </div>

        <!-- Right -->
        <div class="col_right">
          <h2>Updates</h2>
          <p>You can put a bunch of stuff here.</p>
          <ul>
            <li>Latest Blog</li>
            <li>Advert</li>
            <li>Comments</li>
          </ul>
        </div>
      </div>
    </main>

    <!-- Js -->
    {% block js %} {% endblock js %}
  </body>
</html>
