{% extends 'layout.html' %}
<!-- css -->
{% block css %} {% endblock css %}
<!-- Body -->
{% block content %}

<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <h2 class="border-bottom mb-4">Login</h2>

      <!-- Email -->
      <div class="form-group">
        {{ form.email.label(class='form-control-label') }}
        {% if form.email.errors %}
        {{form.email(class='form-control invalid')}}
        <div class="invalid">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{form.email(class='form-control')}}
        {% endif %}
      </div>

      <!-- Password -->
      <div class="form-group">
        {{ form.password.label(class='form-control-label') }}
        {% if form.password.errors %}
        {{form.password(class='form-control invalid')}}
        <div class="invalid">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{form.password(class='form-control')}}
        {% endif %}
      </div>

      <!-- Remember -->
      <div class="form-check">
        {{form.remember(class="check")}}
        {{form.remember.label(class="check")}}
      </div>
    </div>
    <div class="form-group">
      {{ form.submit(class='btn') }}
    </div>
    <small class="fg-pass"><a href="{{url_for('users.reset_request')}}">Forgot Password?</a></small>
  </form>
</div>
<hr class="hr-line" />

<small class="small-help"
  >Need An Account? <a href="{{ url_for('users.register') }}">Sign up now</a></small
>
{% endblock content %}
