{% extends 'layout.html' %}

<!-- css -->
{% block css %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/index/index.css')}}"
/>{% endblock css %}

<!-- Body -->
{% block content %}
<section>
  <article>
    <div class="article_name">
      <div>
        <img
          src="{{url_for('static', filename='img/profile/' + post.author.image_file)}}"
          alt="{{ post.author.username }}"
        />
        <a
          href="{{url_for('user_post', username=post.author.username)}}"
          title="{{ post.author }}"
          >{{ post.author.username }}</a
        >
      </div>
      <small>{{ post.date_post.strftime("%B %d, %Y") }}</small>
    </div>
    <div class="article_content">
      <h2>{{ post.title }}</h2>
      <p>{{ post.content }}</p>
    </div>
    {% if post.author == current_user %}
    <div class="update_post">
      <a href="{{url_for('update_post', post_id=post.id)}}">Edit Post</a>
      <button class="del">Delete</button>
    </div>
    {% endif %}
  </article>
</section>
<!-- body -->
{% endblock content %}

<!-- Js -->
{% block js %}
<script>
  function create_element(name, class_name) {
    let element = document.createElement(name);
    element.className = "" + class_name;
    return element;
  }

  function close_div() {
    let body = document.querySelector("body");
    body.removeChild(body.firstElementChild);
  }

  let d = document.querySelector(".update_post .del");
  d.addEventListener("click", () => {
    let div = create_element("div", "confirm_del");
    let div_wrapper = create_element("div", "confirm_del_wrapper");
    let message_blog = create_element("div", "message_blog");
    let h2 = create_element("h2", "alert_title");
    h2.innerText = "Confirm Delete";
    let p = create_element("p", "alert_content");
    p.innerText = "Are you sure you want to delete this post?";

    let buttons = create_element("div", "alert_buttons");
    let no = create_element("button", "alert_btn");
    no.innerHTML = "No";

    no.addEventListener("click", () => {
      close_div();
    });

    // Form
    var f = document.createElement("form");
    f.setAttribute("method", "POST");
    f.setAttribute("action", "{{url_for('delete_post', post_id=post.id)}}");
    var s = create_element("input", "alert_btn alert_yes"); //input element, Submit button
    s.setAttribute("type", "submit");
    s.setAttribute("value", "Delete");
    f.appendChild(s);

    buttons.appendChild(no);
    buttons.appendChild(f);

    message_blog.appendChild(h2);
    message_blog.appendChild(p);
    message_blog.appendChild(buttons);
    div_wrapper.appendChild(message_blog);
    div.appendChild(div_wrapper);
    document.body.insertBefore(div, document.querySelector("header"));
  });
</script>
{% endblock js %}
