article {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  margin-top: unset;
  border: 1px solid #8080802e;
  padding: 15px;
  border-radius: 5px;
}

/* Name */
article .article_name {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: baseline;
  border-bottom: 1px solid #8080802e;
  margin-bottom: 10px;
  justify-content: space-between;
}

article .article_name img{
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}

article .article_name small {
  margin-left: 15px;
  font-size: 12px;
}

article .article_name a {
  color: cadetblue;
  font-size: 17px;
  display: inline;
}

/* Content */
article .article_content h1 a {
  color: var(--base_col);
}

/* Edit and Del btn */
article .update_post{
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

article .update_post a, article .update_post button{
  background-color: #008d94;
  color: #ffffff;
  border-radius: 4px;
  font-size: 15px;
  padding: 5px 10px;
}

article .update_post button{
  border: none;
  margin-left: 10px;
  background-color: brown;
}
